#wrapper{
    background-color: rgb(207, 243, 239);
    width: 1200px;
    height: 688px;
    margin-left: 140px;
    z-index: 0;
}
#main{
    width: 700px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin-left: 300px;
    display: flex;
    border-radius: 10px;
  
}
#main img{
    width: 300px;
    margin-top: 120px;
}
.login_1 input{
   margin-left: 50px;
   margin-top: 30px;
}
input{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    background-color: rgb(244, 244, 244);
}
button{
    margin-left: 100px;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background-color: rgb(92, 255, 55);
    color: rgb(34, 30, 30);
}
